#### MySql

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in a way that makes it easy to store, retrieve, and manage information. Databases are used to store data for various applications, including websites, business applications, mobile apps, and more. They provide a systematic way to store and manage data efficiently, ensuring data integrity, security, and accessibility.

Here's a differentiation between SQL (Relational) and NoSQL databases:

    Data Model:
        SQL (Relational): SQL databases use a structured, tabular format where data is organized into tables with rows and columns. Each table has a predefined schema that defines the data types and relationships between tables.
        NoSQL: NoSQL databases are more flexible in terms of data modeling. They can use various data models, including document-oriented (like JSON or BSON), key-value, column-family, or graph-based models. The choice of data model depends on the specific NoSQL database type.

    Scalability:
        SQL (Relational): SQL databases are typically vertically scalable, which means you can increase their capacity by adding more CPU, RAM, or storage to a single server. Horizontal scaling can be more challenging and may require complex partitioning strategies.
        NoSQL: NoSQL databases are designed for horizontal scalability, allowing you to distribute data across multiple servers or nodes easily. This makes them suitable for handling large amounts of data and high-velocity workloads.

    Query Language:
        SQL (Relational): SQL databases use a structured query language (SQL) for data manipulation and retrieval. SQL is powerful and well-suited for complex queries and joins.
        NoSQL: NoSQL databases often have their own query languages or APIs specific to their data model. The query capabilities may be less expressive than SQL but are tailored to the data model's strengths.

    Consistency and ACID Properties:
        SQL (Relational): SQL databases typically follow ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and consistency even in the presence of failures.
        NoSQL: NoSQL databases may relax some ACID properties for greater scalability and performance. They often use a BASE (Basically Available, Soft state, Eventually consistent) model, which sacrifices immediate consistency for improved availability and fault tolerance.

    Use Cases:
        SQL (Relational): SQL databases are well-suited for applications with structured data, complex relationships, and the need for strong consistency, such as financial systems, traditional business applications, and data warehousing.
        NoSQL: NoSQL databases are suitable for applications with dynamic, unstructured, or semi-structured data, where high scalability, low-latency reads and writes, and flexibility in data modeling are essential. Examples include social media platforms, content management systems, IoT data storage, and real-time analytics.

.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 DDL stands for "Data Definition Language," and it is a subset of SQL (Structured Query Language) used to define, manage, and manipulate the structure of a database, including tables, schemas, indexes, and constraints. DDL statements are responsible for creating, altering, and deleting database objects. Here are explanations of some common DDL statements:
 
 
 CREATE:

    The CREATE statement is used to create new database objects, such as tables, indexes, or views.
    Example: Creating a new table named "Customers" in a relational database:
    
    CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100),
    Phone VARCHAR(15)
);


DROP:

    The DROP statement is used to delete existing database objects, such as tables, indexes, or views. It permanently removes the object and its data.
    Example: Dropping the "Customers" table:

    DROP TABLE Customers;

ALTER:

    The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns in a table.
    Example: Adding a new column "Address" to the "Customers" table:
    
    ALTER TABLE Customers
    ADD Address VARCHAR(200);
    
TRUNCATE:

    The TRUNCATE statement is used to delete all the data from a table, but it retains the table structure for future use. It is faster and more efficient than the DELETE statement for removing all records from a table.
    Example: Truncating the "Orders" table:
    TRUNCATE TABLE Orders;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

. DML stands for "Data Manipulation Language," and it is a subset of SQL (Structured Query Language) used for manipulating data within a database. DML statements are responsible for performing operations on data stored in database tables.


INSERT:

    The INSERT statement is used to add new records (rows) into a database table.
    Example: Inserting a new customer record into the "Customers" table:
    INSERT INTO Customers (CustomerID, FirstName, LastName, Email, Phone)
    VALUES (1, 'John', 'Doe', 'john@example.com', '555-123-4567');
    
UPDATE:

    The UPDATE statement is used to modify existing records in a database table. It allows you to change the values of specific columns in one or more rows that meet a certain condition.
    Example: Updating the phone number for a customer with CustomerID 1 in the "Customers" table:
    UPDATE Customers
    SET Phone = '555-987-6543'
    WHERE CustomerID = 1;
    
DELETE:

    The DELETE statement is used to remove records from a database table based on a specified condition. It deletes one or more rows that meet the specified criteria.
    Example: Deleting a customer with CustomerID 2 from the "Customers" table:
    DELETE FROM Customers
    WHERE CustomerID = 2;

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for "Data Query Language," and it is a subset of SQL (Structured Query Language) used for retrieving and querying data from a database. The primary DQL statement is SELECT, which allows you to retrieve specific data from one or more tables in a database

SELECT:

    The SELECT statement is used to retrieve data from one or more tables in a database. You can specify the columns you want to retrieve and apply various conditions and sorting options to filter and order the results.
    
Example:
Suppose you have a "Products" table in a database with the following structure:

ProductID	ProductName	UnitPrice	Category
  1	        Product A    10.99	  Electronics
  2	        Product B	 5.99	  Clothing
  3	        Product C	 7.49	  Electronics
  4	        Product D	 19.99	  Home
  
To retrieve all product names and their prices from the "Products" table, you would use the following SELECT statement:

  SELECT ProductName, UnitPrice
  FROM Products;
  
The result of this query would be:
ProductName	UnitPrice
Product A	10.99
Product B	5.99
Product C	7.49
Product D	19.99

#### Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is a database constraint that uniquely identifies each record (row) in a database table. It ensures that no two rows in the table have the same values for the primary key column(s). 
  
Consider a database for a library. You have a "Books" table, and each book needs a unique identifier. You can create a primary key for the "Books" table using an "ISBN" (International Standard Book Number) field. Here's an example of the "Books" table with the ISBN as the primary key:

Books Table:
ISBN            | Title                 | Author         | Published Year
--------------- | --------------------   | -------------   | --------------
978-1984819193  | "Dune"                | Frank Herbert   | 1965
978-0061120084  | "To Kill a Mockingbird"| Harper Lee      | 1960
978-1400079148  | "1984"                | George Orwell  | 1949

    

Foreign Key:

A foreign key is a column or set of columns in a database table that establishes a link between two tables. It creates a relationship between the data in two tables, typically by referencing the primary key of another table

In our library database, let's create a new table called "Checkouts" to keep track of which books are borrowed by library patrons. Each entry in the "Checkouts" table will reference a book in the "Books" table using a foreign key.

Checkouts Table:
CheckoutID  | PatronName | ISBN           | CheckoutDate
----------- | ---------- | -------------- | ------------
1          | Alice      | 978-1984819193  | 2023-10-13
2          | Bob        | 978-0061120084  | 2023-10-14
3          | Carol      | 978-1400079148  | 2023-10-15

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect to a MySQL database in Python, you can use the mysql-connector-python library, which provides an interface for interacting with MySQL databases. First, make sure you have the library installed. 

  # pip install mysql-connector-python
  
# then :
    import mysql.connector


db_config = {
    "host": "your_host",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database_name"
}

try:
    # Create a MySQL database connection
    connection = mysql.connector.connect(**db_config)

    # Create a cursor object to interact with the database
    cursor = connection.cursor()

    # Example 1: Execute a SELECT query
    cursor.execute("SELECT * FROM your_table_name")

    # Fetch and print all rows from the result set
    rows = cursor.fetchall()
    for row in rows:
        print(row)

    # Example 2: Execute an INSERT query
    insert_query = "INSERT INTO your_table_name (column1, column2) VALUES (%s, %s)"
    data_to_insert = ("value1", "value2")
    cursor.execute(insert_query, data_to_insert)
    connection.commit()  # Commit the transaction

except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    # Close the cursor and database connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()

  

    cursor() Method:
        The cursor() method is called on a database connection object and returns a cursor object.
        The cursor is used to execute SQL queries and fetch results from the database.
        Multiple cursors can be created from the same database connection.

    execute() Method:
        The execute() method is called on a cursor object and is used to execute SQL queries on the database.
        It takes one or two arguments: the SQL query as a string and optionally, a tuple or dictionary containing data to be inserted into the query (parameterized queries).
        After executing the query, you can use methods like fetchone(), fetchall(), or fetchmany() to retrieve the results, depending on the type of query (SELECT or others).
        For data modification queries (e.g., INSERT, UPDATE, DELETE), you should also call connection.commit() to apply the changes to the database.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, when you write a query, the clauses are generally executed in a specific order. The standard order of execution for SQL clauses in a query is as follows:

FROM: This clause specifies the tables or views from which you want to retrieve data. It's the starting point for your query.

Example: SELECT *
FROM Customers;


JOIN: If you need to combine data from multiple tables, you use the JOIN clause to specify the relationships between them.

Example:SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
JOIN Customers ON Orders.CustomerID = Customers.CustomerID;


WHERE: This clause allows you to filter the rows from the tables in the FROM clause based on a specific condition.

Example:SELECT *
FROM Employees
WHERE Salary > 50000;


GROUP BY: If you want to group rows that have the same values in one or more columns and perform aggregate functions on them, you use the GROUP BY clause.

Example:SELECT Country, COUNT(*) as Count
FROM Customers
GROUP BY Country;


HAVING: Similar to the WHERE clause, the HAVING clause filters the grouped rows based on a condition. It's typically used in conjunction with the GROUP BY clause.

Example:SELECT Country, COUNT(*) as Count
FROM Customers
GROUP BY Country
HAVING COUNT(*) > 3;


SELECT: This clause specifies the columns you want to include in the result set. You can perform calculations and transformations on columns in this step.

Example:SELECT FirstName, LastName, Salary * 1.1 AS NewSalary
FROM Employees;


ORDER BY: If you want to sort the result set in a specific order, you use the ORDER BY clause.

Example:SELECT ProductName, UnitPrice
FROM Products
ORDER BY UnitPrice DESC;


LIMIT/OFFSET (or equivalent): These clauses control the number of rows returned or skip a certain number of rows, which can be useful for implementing pagination or limiting the result set size.

Example (for MySQL and PostgreSQL):SELECT *
FROM Orders
LIMIT 10 OFFSET 20;


UNION/UNION ALL: If you need to combine the result sets of multiple queries, you can use the UNION or UNION ALL clauses.

Example:SELECT CustomerName FROM Customers
UNION
SELECT SupplierName FROM Suppliers;